<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoEWhisperNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="TradeFinds" value="WTB|WTS" />
    <add key="GlobalFinds" value="WTB|WTS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <PoEWhisperNotifier.Properties.Settings>
      <setting name="LogPath" serializeAs="String">
        <value>C:\Program Files (x86)\Grinding Gear Games\Path of Exile\logs\Client.txt</value>
      </setting>
      <setting name="NotifyMinimizedOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrayNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerializedSmtpData" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableSmtpNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnablePushbullet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerializedPushBulletData" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPartyMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogGuildMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviousSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PreviousLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FlashTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogTradeMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogGlobalMessages" serializeAs="String">
        <value>False</value>
      </setting>
    </PoEWhisperNotifier.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>