<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoEWhisperNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PoEWhisperNotifier.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Program Files (x86)\Grinding Gear Games\Path of Exile\logs\Client.txt</value>
            </setting>
            <setting name="NotifyMinimizedOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerializedSmtpData" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSmtpNotifications" serializeAs="String">
                <value>False</value>
            </setting>
        </PoEWhisperNotifier.Properties.Settings>
    </userSettings>
</configuration>
